In [1]:
import http.client
import json
import pandas as pd

## Récupération des données de matchs

In [2]:
connection = http.client.HTTPConnection('api.football-data.org')
headers = { 'X-Auth-Token': '52209beef1bc4a4e8b08fbf89163915f' }

connection.request('GET', 'https://api.football-data.org/v2/competitions/FL1/matches', None, headers )
matchs_fr = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/CL/matches', None, headers )
matchs_cl = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PL/matches', None, headers )
matchs_eng = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PD/matches', None, headers )
matchs_esp = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/SA/matches', None, headers )
matchs_ita = json.loads(connection.getresponse().read().decode())

In [3]:
df_fr=pd.DataFrame(matchs_fr['matches'])
df_cl=pd.DataFrame(matchs_cl['matches'])
df_eng=pd.DataFrame(matchs_eng['matches'])
df_esp=pd.DataFrame(matchs_esp['matches'])
df_ita=pd.DataFrame(matchs_ita['matches'])

columns=['utcDate','status','score','homeTeam','awayTeam']

fr_names=df_fr[columns]
cl_names=df_cl[columns]
eng_names=df_eng[columns]
esp_names=df_esp[columns]
ita_names=df_ita[columns]

df_matchs=pd.DataFrame(columns=['utcDate','status','score','homeTeam','awayTeam'])
df_matchs=df_matchs.append(fr_names,ignore_index=True)
df_matchs=df_matchs.append(eng_names,ignore_index=True)
df_matchs=df_matchs.append(esp_names,ignore_index=True)
df_matchs=df_matchs.append(ita_names,ignore_index=True)
df_matchs=df_matchs.append(cl_names,ignore_index=True)
#df_matchs=df_matchs.drop_duplicates()
df_matchs

,utcDate,status,score,homeTeam,awayTeam
0,2019-08-09T18:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 548, 'name': 'AS Monaco FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1,2019-08-10T15:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 516, 'name': 'Olympique de Marseille'}","{'id': 547, 'name': 'Stade de Reims'}"
2,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 518, 'name': 'Montpellier HSC'}","{'id': 529, 'name': 'Stade Rennais FC 1901'}"
3,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 522, 'name': 'OGC Nice'}","{'id': 530, 'name': 'Amiens SC'}"
4,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 512, 'name': 'Stade Brestois 29'}","{'id': 511, 'name': 'Toulouse FC'}"
...,...,...,...,...,...
1718,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'EXTRA_TIM...","{'id': 64, 'name': 'Liverpool FC'}","{'id': 78, 'name': 'Club Atlético de Madrid'}"
1719,2020-03-17T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 65, 'name': 'Manchester City FC'}","{'id': 86, 'name': 'Real Madrid CF'}"
1720,2020-03-17T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 109, 'name': 'Juventus FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1721,2020-03-18T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 5, 'name': 'FC Bayern München'}","{'id': 61, 'name': 'Chelsea FC'}"
1722,2020-03-18T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 81, 'name': 'FC Barcelona'}","{'id': 113, 'name': 'SSC Napoli'}"

## On garde les matchs terminés pour l'apprentissage

In [4]:
df_finished=df_matchs.loc[df_matchs["status"]=="FINISHED"]
df_finished

,utcDate,status,score,homeTeam,awayTeam
0,2019-08-09T18:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 548, 'name': 'AS Monaco FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1,2019-08-10T15:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 516, 'name': 'Olympique de Marseille'}","{'id': 547, 'name': 'Stade de Reims'}"
2,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 518, 'name': 'Montpellier HSC'}","{'id': 529, 'name': 'Stade Rennais FC 1901'}"
3,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 522, 'name': 'OGC Nice'}","{'id': 530, 'name': 'Amiens SC'}"
4,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 512, 'name': 'Stade Brestois 29'}","{'id': 511, 'name': 'Toulouse FC'}"
...,...,...,...,...,...
1714,2020-02-26T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 523, 'name': 'Olympique Lyonnais'}","{'id': 109, 'name': 'Juventus FC'}"
1715,2020-03-10T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 95, 'name': 'Valencia CF'}","{'id': 102, 'name': 'Atalanta BC'}"
1716,2020-03-10T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 721, 'name': 'RB Leipzig'}","{'id': 73, 'name': 'Tottenham Hotspur FC'}"
1717,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 524, 'name': 'Paris Saint-Germain FC'}","{'id': 4, 'name': 'BV Borussia 09 Dortmund'}"
1718,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'EXTRA_TIM...","{'id': 64, 'name': 'Liverpool FC'}","{'id': 78, 'name': 'Club Atlético de Madrid'}"

### On numérise les données afin de pouvoir les analyser

### Score

In [5]:
def winner(score):
    string=str(score)
    chaine=("'winner':")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        winner=""
        while i==0:
            if string[debut]==',':
                i=1
                break
            winner=winner+string[debut]
            debut+=1
    if (winner==" 'DRAW'"):
        winner=0            
    if (winner==" 'HOME_TEAM'"):
        winner=1
    if (winner==" 'AWAY_TEAM'"):
        winner=2
    
    return winner

In [6]:
df_final=pd.DataFrame()
df_final['score']=df_finished['score'].apply(lambda x: winner(x))

## Puissance-Teams

In [7]:
teams_puiss=pd.read_csv(r"Teams_puiss.csv",sep=";",index_col=0)
teams_puiss

          shortName                    name            name_web  puissance
0          Toulouse             Toulouse FC            Toulouse       1065
1             Brest       Stade Brestois 29               Brest       2156
2         Marseille  Olympique de Marseille  OlympiqueMarseille       4008
3       Montpellier         Montpellier HSC         Montpellier       3029
4             Lille               Lille OSC               Lille       4207
..              ...                     ...                 ...        ...
154      Feronikeli           KF Feronikeli                 NaN        100
155       Tre Penne            SP Tre Penne                 NaN        100
156  Ararat-Armenia       FC Ararat-Armenia      Ararat-Armenia        423
157       Saburtalo            FC Saburtalo           Saburtalo        244
158              HB                      HB                  HB         74

[144 rows x 4 columns]

In [8]:
def puissance(score,df):
    string=str(score)
    chaine=("'name': ")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        name=""
        while i==0:
            if string[debut]=='}':
                i=1
                break
            name=name+string[debut]
            debut+=1
    name=name.replace("'","")          
    
    puiss=df["puissance"].loc[df["name"]==name]
    puiss=puiss.values
    if(puiss):
        return int(puiss)
    else:
        return 100

In [9]:
df_final['puissance_homeTeam']=df_finished['homeTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final['puissance_awayTeam']=df_finished['awayTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

     score  puissance_homeTeam  puissance_awayTeam
0        2                2409                6154
1        2                4008                3054
2        2                3029                 100
3        1                2803                2045
4        0                2156                1065
...    ...                 ...                 ...
1714     1                6154                9319
1715     2                9770                7928
1716     1                9221                6821
1717     1                9495                7276
1718     2               14695                9329

[1292 rows x 3 columns]

In [39]:
df_final.to_csv(r"Data_Base_Learning.csv", sep=";", encoding='utf-8')