In [16]:
import http.client
import json
import pandas as pd
import datetime

## Récupération des données de matchs

In [3]:
connection = http.client.HTTPConnection('api.football-data.org')
headers = { 'X-Auth-Token': '52209beef1bc4a4e8b08fbf89163915f' }

connection.request('GET', 'https://api.football-data.org/v2/competitions/FL1/matches', None, headers )
matchs_fr = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/CL/matches', None, headers )
matchs_cl = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PL/matches', None, headers )
matchs_eng = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/PD/matches', None, headers )
matchs_esp = json.loads(connection.getresponse().read().decode())
connection.request('GET', 'https://api.football-data.org/v2/competitions/SA/matches', None, headers )
matchs_ita = json.loads(connection.getresponse().read().decode())

In [4]:
df_fr=pd.DataFrame(matchs_fr['matches'])
df_cl=pd.DataFrame(matchs_cl['matches'])
df_eng=pd.DataFrame(matchs_eng['matches'])
df_esp=pd.DataFrame(matchs_esp['matches'])
df_ita=pd.DataFrame(matchs_ita['matches'])

columns=['utcDate','status','score','homeTeam','awayTeam']

fr_names=df_fr[columns]
cl_names=df_cl[columns]
eng_names=df_eng[columns]
esp_names=df_esp[columns]
ita_names=df_ita[columns]

df_matchs=pd.DataFrame(columns=['utcDate','status','score','homeTeam','awayTeam'])
df_matchs=df_matchs.append(fr_names,ignore_index=True)
df_matchs=df_matchs.append(eng_names,ignore_index=True)
df_matchs=df_matchs.append(esp_names,ignore_index=True)
df_matchs=df_matchs.append(ita_names,ignore_index=True)
df_matchs=df_matchs.append(cl_names,ignore_index=True)
#df_matchs=df_matchs.drop_duplicates()
df_matchs

,utcDate,status,score,homeTeam,awayTeam
0,2019-08-09T18:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 548, 'name': 'AS Monaco FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1,2019-08-10T15:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 516, 'name': 'Olympique de Marseille'}","{'id': 547, 'name': 'Stade de Reims'}"
2,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 518, 'name': 'Montpellier HSC'}","{'id': 529, 'name': 'Stade Rennais FC 1901'}"
3,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 522, 'name': 'OGC Nice'}","{'id': 530, 'name': 'Amiens SC'}"
4,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 512, 'name': 'Stade Brestois 29'}","{'id': 511, 'name': 'Toulouse FC'}"
...,...,...,...,...,...
1718,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'EXTRA_TIM...","{'id': 64, 'name': 'Liverpool FC'}","{'id': 78, 'name': 'Club Atlético de Madrid'}"
1719,2020-03-17T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 65, 'name': 'Manchester City FC'}","{'id': 86, 'name': 'Real Madrid CF'}"
1720,2020-03-17T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 109, 'name': 'Juventus FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1721,2020-03-18T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 5, 'name': 'FC Bayern München'}","{'id': 61, 'name': 'Chelsea FC'}"
1722,2020-03-18T20:00:00Z,POSTPONED,"{'winner': None, 'duration': 'REGULAR', 'fullT...","{'id': 81, 'name': 'FC Barcelona'}","{'id': 113, 'name': 'SSC Napoli'}"

## On garde les matchs terminés pour l'apprentissage

In [5]:
df_finished=df_matchs.loc[df_matchs["status"]=="FINISHED"]
df_finished

,utcDate,status,score,homeTeam,awayTeam
0,2019-08-09T18:45:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 548, 'name': 'AS Monaco FC'}","{'id': 523, 'name': 'Olympique Lyonnais'}"
1,2019-08-10T15:30:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 516, 'name': 'Olympique de Marseille'}","{'id': 547, 'name': 'Stade de Reims'}"
2,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 518, 'name': 'Montpellier HSC'}","{'id': 529, 'name': 'Stade Rennais FC 1901'}"
3,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 522, 'name': 'OGC Nice'}","{'id': 530, 'name': 'Amiens SC'}"
4,2019-08-10T18:00:00Z,FINISHED,"{'winner': 'DRAW', 'duration': 'REGULAR', 'ful...","{'id': 512, 'name': 'Stade Brestois 29'}","{'id': 511, 'name': 'Toulouse FC'}"
...,...,...,...,...,...
1714,2020-02-26T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 523, 'name': 'Olympique Lyonnais'}","{'id': 109, 'name': 'Juventus FC'}"
1715,2020-03-10T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'REGULAR',...","{'id': 95, 'name': 'Valencia CF'}","{'id': 102, 'name': 'Atalanta BC'}"
1716,2020-03-10T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 721, 'name': 'RB Leipzig'}","{'id': 73, 'name': 'Tottenham Hotspur FC'}"
1717,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'HOME_TEAM', 'duration': 'REGULAR',...","{'id': 524, 'name': 'Paris Saint-Germain FC'}","{'id': 4, 'name': 'BV Borussia 09 Dortmund'}"
1718,2020-03-11T20:00:00Z,FINISHED,"{'winner': 'AWAY_TEAM', 'duration': 'EXTRA_TIM...","{'id': 64, 'name': 'Liverpool FC'}","{'id': 78, 'name': 'Club Atlético de Madrid'}"

### On numérise les données afin de pouvoir les analyser

## Victoires / Défaites consecutives

In [9]:
def recupDate(x):
    annee=x[0:4]
    mois=x[5:7]
    jour=x[8:10]
    date=datetime.datetime(int(annee),int(mois),int(jour))
    return date

### Récupération du nom de chaque équipe

In [10]:
def recupTeam(x):
    string=str(x)
    chaine=("'name': ")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        name=""
        while i==0:
            if string[debut]=='}':
                i=1
                break
            name=name+string[debut]
            debut+=1
    name=name.replace("'","") 
    return name

### Récupération du résultat du match

In [11]:
def winner(score):
    string=str(score)
    chaine=("'winner':")
    long=len(chaine)
    result=string.find(chaine)
    if result>-1:
        debut=result+long
        i=0
        winner=""
        while i==0:
            if string[debut]==',':
                i=1
                break
            winner=winner+string[debut]
            debut+=1
    if (winner==" 'DRAW'"):
        winner=0            
    if (winner==" 'HOME_TEAM'"):
        winner=1
    if (winner==" 'AWAY_TEAM'"):
        winner=2
    
    return winner

### Comptage des victoires et défaites consécutives

In [12]:
def compte_win(df_verif,name):
    win_cons=0
    for index, row in df_verif.iterrows():
        home=row["homeTeam"]
        away=row["awayTeam"]
        score=row["score"]
        if ((home==name) and (score==1)):
            win_cons+=1
        if ((away==name) and (score==2)):
            win_cons+=1
        if ((home==name) and (score==2)):
            win_cons=0
        if (((away==name) and (score==1)) or (score==0)):
            win_cons=0
    return win_cons



def compte_lose(df_verif,name):
    lose_cons=0
    for index, row in df_verif.iterrows():
        home=row["homeTeam"]
        away=row["awayTeam"]
        score=row["score"]
        if ((home==name) and (score==2)):
            lose_cons+=1
        if ((away==name) and (score==1)):
            lose_cons+=1
        if ((home==name) and (score==1)):
            lose_cons=0
        if (((away==name) and (score==2)) or (score==0)):
            lose_cons=0
    return lose_cons

In [20]:
def victoire_consecutives(x,df):
    date=x['date']
    anterieur=df.loc[df['date']< date]    
    home=x["homeTeam"]
    away=x["awayTeam"]
    nb_home=0
    nb_away=0
    if(anterieur.empty): 
        return nb_home,nb_away 
    else:
        verifHome=anterieur.loc[anterieur['homeTeam']==home]
        verifHome2=anterieur.loc[anterieur['awayTeam']==home]
        
        verifAway=anterieur.loc[anterieur['homeTeam']==away]
        verifAway2=anterieur.loc[anterieur['awayTeam']==away]
        
        df_verif=pd.concat([verifHome,verifHome2])
        df_verif=df_verif.sort_values(by = 'date')
        
        df_verif2=pd.concat([verifAway,verifAway2])
        df_verif2=df_verif2.sort_values(by = 'date')
        
        if (df_verif.empty):
                nb_home=-1
        else:
            nb_home=compte_win(df_verif,home)
        
        if(df_verif2.empty):
            nb_away=-1
        
        else:
            nb_away=compte_win(df_verif2,away)
        
    return nb_home,nb_away

In [14]:
def defaites_consecutives(x,df):
    date=x['date']
    anterieur=df.loc[df['date']< date]    
    home=x["homeTeam"]
    away=x["awayTeam"]
    nb_home=0
    nb_away=0
    if(anterieur.empty): 
        return nb_home,nb_away 
    else:
        verifHome=anterieur.loc[anterieur['homeTeam']==home]
        verifHome2=anterieur.loc[anterieur['awayTeam']==home]
        
        verifAway=anterieur.loc[anterieur['homeTeam']==away]
        verifAway2=anterieur.loc[anterieur['awayTeam']==away]
        
        df_verif=pd.concat([verifHome,verifHome2])
        df_verif=df_verif.sort_values(by = 'date')
        
        df_verif2=pd.concat([verifAway,verifAway2])
        df_verif2=df_verif2.sort_values(by = 'date')
        
        if (df_verif.empty):
                nb_home=-1
        else:
            nb_home=compte_lose(df_verif,home)
        
        if(df_verif2.empty):
            nb_away=-1
        
        else:
            nb_away=compte_lose(df_verif2,away)
        
    return nb_home,nb_away

## Attribution des données au dataframe final

In [22]:
df_final=pd.DataFrame()
df_final['date']=df_finished['utcDate'].apply(lambda x: recupDate(x))
df_final['homeTeam']=df_finished['homeTeam'].apply(lambda x: recupTeam(x))
df_final['awayTeam']=df_finished['awayTeam'].apply(lambda x: recupTeam(x))
df_final['score']=df_finished['score'].apply(lambda x: winner(x))
df_final['win_cons_home'], df_final['win_cons_away']=zip(*df_final.apply(lambda x: victoire_consecutives(x,df_final),axis=1))
df_final['lose_cons_home'], df_final['lose_cons_away']=zip(*df_final.apply(lambda x: defaites_consecutives(x,df_final),axis=1))
df_final.head()

,date,homeTeam,awayTeam,score,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away
0,2019-08-09,AS Monaco FC,Olympique Lyonnais,2,-1,-1,-1,-1
1,2019-08-10,Olympique de Marseille,Stade de Reims,2,-1,-1,-1,-1
2,2019-08-10,Montpellier HSC,Stade Rennais FC 1901,2,-1,-1,-1,-1
3,2019-08-10,OGC Nice,Amiens SC,1,-1,-1,-1,-1
4,2019-08-10,Stade Brestois 29,Toulouse FC,0,-1,-1,-1,-1

## Puissance-Teams

In [23]:
teams_puiss=pd.read_csv(r"Teams_puiss.csv",sep=";",index_col=0)
teams_puiss

          shortName                    name            name_web  puissance
0          Toulouse             Toulouse FC            Toulouse       1065
1             Brest       Stade Brestois 29               Brest       2156
2         Marseille  Olympique de Marseille  OlympiqueMarseille       4008
3       Montpellier         Montpellier HSC         Montpellier       3029
4             Lille               Lille OSC               Lille       4207
..              ...                     ...                 ...        ...
154      Feronikeli           KF Feronikeli                 NaN        100
155       Tre Penne            SP Tre Penne                 NaN        100
156  Ararat-Armenia       FC Ararat-Armenia      Ararat-Armenia        423
157       Saburtalo            FC Saburtalo           Saburtalo        244
158              HB                      HB                  HB         74

[144 rows x 4 columns]

In [25]:
def puissance(name,df):
    puiss=df["puissance"].loc[df["name"]==name]
    puiss=puiss.values
    if(puiss):
        return int(puiss)
    else:
        return 100

In [26]:
df_final['puissance_homeTeam']=df_final['homeTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final['puissance_awayTeam']=df_final['awayTeam'].apply(lambda x: puissance(x,teams_puiss))
df_final

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  after removing the cwd from sys.path.

,date,homeTeam,awayTeam,score,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,puissance_homeTeam,puissance_awayTeam
0,2019-08-09,AS Monaco FC,Olympique Lyonnais,2,-1,-1,-1,-1,2409,6154
1,2019-08-10,Olympique de Marseille,Stade de Reims,2,-1,-1,-1,-1,4008,3054
2,2019-08-10,Montpellier HSC,Stade Rennais FC 1901,2,-1,-1,-1,-1,3029,100
3,2019-08-10,OGC Nice,Amiens SC,1,-1,-1,-1,-1,2803,2045
4,2019-08-10,Stade Brestois 29,Toulouse FC,0,-1,-1,-1,-1,2156,1065
...,...,...,...,...,...,...,...,...,...,...
1714,2020-02-26,Olympique Lyonnais,Juventus FC,1,1,2,0,0,6154,9319
1715,2020-03-10,Valencia CF,Atalanta BC,2,0,4,0,0,9770,7928
1716,2020-03-10,RB Leipzig,Tottenham Hotspur FC,1,1,0,0,0,9221,6821
1717,2020-03-11,Paris Saint-Germain FC,BV Borussia 09 Dortmund,1,2,2,0,0,9495,7276
1718,2020-03-11,Liverpool FC,Club Atlético de Madrid,2,1,0,0,0,14695,9329

In [32]:
columns=["score","puissance_homeTeam","puissance_awayTeam",
         "win_cons_home","win_cons_away","lose_cons_home","lose_cons_away","score"]
df_final_data=df_final[columns]
df_final_data=df_final_data.dropna()
df_final_data

,score,puissance_homeTeam,puissance_awayTeam,win_cons_home,win_cons_away,lose_cons_home,lose_cons_away,score
0,2,2409,6154,-1,-1,-1,-1,2
1,2,4008,3054,-1,-1,-1,-1,2
2,2,3029,100,-1,-1,-1,-1,2
3,1,2803,2045,-1,-1,-1,-1,1
4,0,2156,1065,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...
1714,1,6154,9319,1,2,0,0,1
1715,2,9770,7928,0,4,0,0,2
1716,1,9221,6821,1,0,0,0,1
1717,1,9495,7276,2,2,0,0,1
1718,2,14695,9329,1,0,0,0,2

In [33]:
df_final_data.to_csv(r"Data_Base_Learning.csv", sep=";", encoding='utf-8')